<div class="card m-3 rounded">
<% if @groups.any?%>
<% @groups.each do |group| %>
  <div class="category-div d-inline-flex">
  <div class="category-info">
    <p> <%=image_tag group.icon ,class:"p-2 m-1 rounded img-thumbnail category-img"%></p>
    </div>
    <div class="w-100 d-inline-flex justify-content-between">
    <div>
    <ul class="d-flex flex-column justify-content-center h-100">
      <li> <p class="h2 pb-4"><%= link_to group.name, group_path(group) %></p></li>
      <li> <p> <%= group.created_at.strftime("%d-%b-%Y")%></p></li>
    </ul>
    </div>
    <div>
    <ul class="d-flex flex-column justify-content-center h-100">
    <li><p class="h3 pb-3 price"> $<%= group.payments.sum(:amount)%></p></li>
    <li>
    <%if can? :destroy, group %>
        <%= button_to "Delete", group_path(group), method: :delete, class:"btn btn-primary cd-btn" %>
      <%end%>
    </li>
    </ul>
    </div>
    </div>
  </div>
<%end%>
<%else%>
<p class="p-2 m-2 h3">There is no category added!!!</p>
<%end%>

</div>